<div id="background">
    <div id="left-small" class="bg-dotsl">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d">
                <animate attributeName="d"
                    dur="15000ms"
                    repeatCount="indefinite"
                    values="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z;
                    M429.5,348.5Q364,447,269.5,413.5Q175,380,96.5,315Q18,250,74,146Q130,42,248,45.5Q366,49,430.5,149.5Q495,250,429.5,348.5Z;
                    M389.5,316Q326,382,232,413Q138,444,92,347Q46,250,88.5,146.5Q131,43,235,69.5Q339,96,396,173Q453,250,389.5,316Z;
                    M425.25435,352.28015Q368.06395,454.56031,256.18677,443.49636Q144.30959,432.43242,79.90662,341.21621Q15.50364,250,88.5,173.31577Q161.49636,96.63153,252.87718,91.58357Q344.25799,86.53561,413.35138,168.26781Q482.44476,250,425.25435,352.28015Z;
                    M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z"
                >
                </animate>
            </path>
        </svg>
    </div>
    <div id="left-mini" class="bg-dotsl">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d">
                <animate attributeName="d"
                    dur="15000ms"
                    repeatCount="indefinite"
                    values="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z;
                    M429.5,348.5Q364,447,269.5,413.5Q175,380,96.5,315Q18,250,74,146Q130,42,248,45.5Q366,49,430.5,149.5Q495,250,429.5,348.5Z;
                    M389.5,316Q326,382,232,413Q138,444,92,347Q46,250,88.5,146.5Q131,43,235,69.5Q339,96,396,173Q453,250,389.5,316Z;
                    M425.25435,352.28015Q368.06395,454.56031,256.18677,443.49636Q144.30959,432.43242,79.90662,341.21621Q15.50364,250,88.5,173.31577Q161.49636,96.63153,252.87718,91.58357Q344.25799,86.53561,413.35138,168.26781Q482.44476,250,425.25435,352.28015Z;
                    M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z"
                >
                </animate>
            </path>
        </svg>
    </div>
    <div id="right-big" class="bg-dotsr">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d">
                <animate attributeName="d"
                    dur="15000ms"
                    repeatCount="indefinite"
                    values="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z;
                    M422.5,356.5Q373,463,260.5,444.5Q148,426,100.5,338Q53,250,107,172.5Q161,95,251.5,93Q342,91,407,170.5Q472,250,422.5,356.5Z;
                    M409,338.5Q352,427,249.5,427.5Q147,428,107.5,339Q68,250,106,158.5Q144,67,257,54Q370,41,418,145.5Q466,250,409,338.5Z;
                    M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z"
                >
                </animate>
            </path>
        </svg>
    </div>
    <div id="right-mini" class="bg-dotsr">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d">
                <animate attributeName="d"
                    dur="15000ms"
                    repeatCount="indefinite"
                    values="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z;
                    M429.5,353Q369,456,262.5,434.5Q156,413,81,331.5Q6,250,77.5,162.5Q149,75,243,87.5Q337,100,413.5,175Q490,250,429.5,353Z;
                    M427.69898,352.09949Q368.09949,454.19898,251.24363,452.05994Q134.38776,449.9209,81.45025,349.96045Q28.51275,250,100.01275,181.86096Q171.51275,113.72192,250.65433,112.71427Q329.79592,111.70663,408.5472,180.85331Q487.29847,250,427.69898,352.09949Z;
                    M392,356Q372,462,258.5,447Q145,432,118.5,341Q92,250,112,148Q132,46,236,70Q340,94,376,172Q412,250,392,356Z;
                    M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z"
                >
                </animate>
            </path>
        </svg>
    </div>
    <div id="rbottom-small" class="bg-dotsr">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d">
                <animate attributeName="d"
                    dur="15000ms"
                    repeatCount="indefinite"
                    values="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z;
                    M429.5,348.5Q364,447,269.5,413.5Q175,380,96.5,315Q18,250,74,146Q130,42,248,45.5Q366,49,430.5,149.5Q495,250,429.5,348.5Z;
                    M389.5,316Q326,382,232,413Q138,444,92,347Q46,250,88.5,146.5Q131,43,235,69.5Q339,96,396,173Q453,250,389.5,316Z;
                    M425.25435,352.28015Q368.06395,454.56031,256.18677,443.49636Q144.30959,432.43242,79.90662,341.21621Q15.50364,250,88.5,173.31577Q161.49636,96.63153,252.87718,91.58357Q344.25799,86.53561,413.35138,168.26781Q482.44476,250,425.25435,352.28015Z;
                    M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z"
                >
                </animate>
            </path>
        </svg>
    </div>
</div>
<div id="preloader">
    <div id="pre1" class="preloader-ball"></div>
    <div id="pre2" class="preloader-ball"></div>
    <div id="pre3" class="preloader-ball"></div>
</div>
<script>
    window.addEventListener("load",()=>{
        document.getElementById("preloader").style.display = "none";
    });
</script>