<div id="background">
    <div id="left-small" >
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d"></path>
        </svg>
    </div>
    <div id="left-mini">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d"></path>
        </svg>
    </div>
    <div id="right-big">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d"></path>
        </svg>
    </div>
    <div id="right-mini">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d"></path>
        </svg>
    </div>
    <div id="rbottom-small">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <path id="blob" d="M403.5,355.5Q372,461,257.5,448Q143,435,80.5,342.5Q18,250,83,161.5Q148,73,254,66Q360,59,397.5,154.5Q435,250,403.5,355.5Z" fill="#86dc3d"></path>
        </svg>
    </div>
</div>