<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunger Help</title>
    <link
      href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Hunger Help</h1>
        <div id="buttons">
            <a href="/">Home</a>
            <a href="/donate-food">Donate Food</a>
            <a href="/request-food">Request Food</a>
            <a href="/statistics">Stats</a>
            <a href="/register">Join</a>
            <a href="/about">About</a>
        </div>
    </header>
</body>
</html>