<div id="addfoodcont">
  <div id="addfoodchild">
    <img id="addfoodimg" alt="vector" src="https://st.depositphotos.com/1027110/3061/v/600/depositphotos_30619917-stock-illustration-thank-you-card.jpg">
    <p id="addfooddisclaimer">"Please ensure that the food you donate is fresh and safe. Both hunger and consuming bad food can have serious consequences. Let's work together to provide nourishment and prevent harm."
    </p>
  </div>
  <div id="addfoodslider">
    <div id="page1">
      <h4>Food Type</h4>
      <div id="imageOptions">
        <label>
          <input type="radio" name="option" value="excess">
          <img class="slide1img" id="excessfoodopt" src="/excessfood.svg" alt="excess">
        </label>
        <label>
          <input type="radio" name="option" value="left-over">
          <img class="slide1img" id="leftoverfoodopt" src="/domestic-waste.svg" alt="left-over">
        </label>
      </div>
    </div>
    <div id="slidenavigator">
      <button>Back</button>
      <button>Next</button>
    </div>
  </div>      
</div>