<div id="addfoodcont">
    <div id="addfoodchild">
      <img id="addfoodimg" alt="vector" src="https://st.depositphotos.com/1027110/3061/v/600/depositphotos_30619917-stock-illustration-thank-you-card.jpg">
      <p id="addfooddisclaimer">"Please ensure that the food you donate is fresh and safe. Both hunger and consuming bad food can have serious consequences. Let's work together to provide nourishment and prevent harm."
      </p>
    </div>
    <form id="addfoodform" action="/addFood" method="post">
        <div>
          <label for="food-type">Food Type:</label>
          <div class="adddrop-container">
              <select class="adddropdown" id="foodtype" name="foodtype">
                <option value="vegetarian">Vegetarian</option>
                <option value="non-vegetarian">Non-Vegetarian</option>
              </select>
          </div>
        </div>
        <div>
          <label for="quality">Quality:</label>
          <div class="adddrop-container">
              <select class="adddropdown" id="quality" name="quality">
                <option value="excess">Excess</option>
                <option value="left-over">Left-over</option>
              </select>
          </div>
        </div>
        <div>
          <label for="quantity">Quantity (in kgs):</label>
          <input type="number" id="quantity" name="quantity" step="0.125" min="0" required>
        </div>
        <div>
          <label for="contact-number">Contact Number:</label>
          <input type="number" id="contactnumber" name="contactnumber" required>
        </div>
        <div>
          <label for="organisation">Organization:</label>
          <input type="text" id="organisation" name="organisation" required>
        </div>
        <div>
          <label for="expiry">Expected Expiry:</label>
          <input type="text" id="expiry" name="expiry">
        </div>
        <div>
          <label for="custom-message">Custom Message:</label>
          <textarea id="custommessage" name="custommessage" rows="2"></textarea>
        </div>
        <button type="submit" id="addsubmit">Add</button>
      </form>      
</div>