<div id="logindiv">
    <form id="loginform" method="post" action="/login">
        <h1>Login</h1>
        <input name="email" autocomplete="email" type="text" placeholder="Email address" required="true">
        <input name="password" autocomplete="off" type="password" placeholder="Password" required="true">
        <p><%= errortxt %></p>
        <button id="loginsubmit" type="submit">Submit</button>
    </form>
</div>