<% if(login){ %>
    <form class="log-form" action="/logout" method="post">
        <button type="submit" class="log-btn">Logout</button>
    </form>
<% }else{ %>
    <form class="log-form" action="/logout" method="post">
        <button type="submit" class="log-btn">Login</button>
    </form>
<%}%>