<div id="statbar">
    <% obj.forEach((prop)=>{%>
        <div class="statbox">
            <img id="simg" alt=<%=prop.alt%> src=<%=prop.src%>></img>
            <h4 id="spdesc"><%=prop.desc%></h4>
            <p id="spcnt"><%=prop.count%></p>
        </div>
    <%})%>
</div>