<div id="background">
    <div id="left-small" class="circles"></div>
    <div id="left-mini" class="circles"></div>
    <div id="right-big" class="circles"></div>
    <div id="right-mini" class="circles"></div>
    <div id="rbottom-small" class="circles"></div>
    <div id="rbottom-mini" class="circles"></div>
    <div id="bottom-big" class="circles"></div>
</div>