<%- include("partials/header"); -%>
<div id="signupbox">
    <form id="signupform">
        <h1>Hello!</h1>
        <input autoComplete="off" required="true" onChange={prop.func1} name="name" type="text" placeHolder="Name" autofocus/>
        <input autoComplete="off"  required="true" name="orgname" type="text" placeholder="Organisation name" onChange={prop.func2}/>
        <input autoComplete="off"  required="true" name="email" type="mail" placeholder="Email" onChange={prop.func3}/>
        <input autoComplete="off" required="true" name="password" type="password" placeholder="Password" onChange={prop.func4}/>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>
<%- include("components/feedback"); -%>
<%- include("partials/footer"); -%>