@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
}
*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif!important;
}
header{
    width: 100dvw;
    height: fit-content;
    position: absolute;
    top: 0;
    background: linear-gradient(to right,rgb(36, 228, 36),rgb(93, 153, 93));
    padding: 2%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons{
    width: 100dvw;
    padding: 2%;
    height: fit-content;
    display: none;
}
#logo{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
header.active #logo{
    display: none;
}
header.active #buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
header.active{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 2px 2px 8px #000;
}
.nav-link-btns{
    padding: 2%;
    background-color: white;
    font-size: 1em;
    width: 30dvw;
    height: 5dvh;
    border-radius: 1em;
    margin-bottom: 2%;
    text-align: center;
}


/* index page */
#IndexFlex{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Body{
    width: 90dvw;
    height: fit-content;
    text-align: center;
}
#statbar{
    width: 90dvw;
    height: 30dvh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.statbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10dvh;
}
#simg{
    width: 10dvw;
}
/* contact form */
#feedback-block{
    position: absolute;
    bottom: 0;left: 0;
    margin: 1%;
}
#feedbacklogo{
    width: 10dvw;
}
#contactformbox {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    margin: 2%;
    border: thin solid #000;
    border-radius: 2%;
    animation: show 0.3s ease;
    z-index: 3;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
  }

  
  form {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  #username,
  #email,
  textarea {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #fsubmit {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  #close-button {
    position: absolute;
    right: 2%;
    background: transparent;
    border: none;
    font-size: 18px;
    color: red;
    cursor: pointer;
  }
  #close-button:active #contactformbox{
    animation: hide 0.8s ease;
  }

  /* footer */
footer{
position: absolute;
bottom: 0;
left: 0;right: 0;margin: auto;
width: fit-content;
font-size: 0.5em;
opacity: 0.8;
}
/* about page */
#FAQ{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: 90dvw;
    height: 70dvh;
    padding: 2%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.faq-ques{
    /* background-color: rgba(246,211,52,1); */
    background-color: #013220;
    padding: 4%;
    cursor: pointer;
    z-index: 3;
    margin: 0;
    color: #fff;
}
.faq-ans{
    padding: 2%;
    background-color: #01322088;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1;
    overflow: hidden;
}
.faq-ans.active{
    max-height: 30dvh;
    opacity: 1;
    height: fit-content;
}
.faq-ques.active{
    box-shadow: 2px 2px 16px #000;
}

/* login box */
#success {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
#failure{
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#failure ul,li{
    list-style:lower-roman;
    text-align: left;
}
#logindiv{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90dvw;
    height: 85dvh;
    flex-direction: column;
    height: 60dvh;
}
#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40dvh;
}
#loginmaindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#loginmaindiv input,button{
    margin: 4%;
}
#loginsubmit{
    padding: 0;margin: 0;
    background-color: #86dc3d;
    border-radius: 2rem;
    width: 20dvw;
    transition: all 0.3s ease;
}
#loginsubmit:hover{
    box-shadow: 2px 2px #000;
}
#loginmaindiv input{
    border: none;
    width: 60dvw;
    outline: none;
    padding-bottom: 0;
    transition: padding-bottom 0.3s ease;
}
#loginmaindiv input:focus{
    border-bottom: thin solid #86dc3d!important;
    padding-bottom: 2%;
}
#loginmaindiv input:valid{
    border-bottom: thin solid #86dc3d!important;
    padding-bottom: 2%;
}
#loginmaindiv input:hover{
    border-bottom: thin solid #86dc3d;
    padding-bottom: 2%;
}
#vline{
    width: 0.5dvw;
    height: 25dvh;
    background-color: darkgray;
    border-radius: 2rem;
    transform: rotate(90deg);
}
#sociallogins{
    height: 45dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.slogin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70dvw;
    height: 5dvh;
    border: thin solid #000;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}
.sloginpic{
    width: 5dvw;
    margin: 2%;
    display: inline;
    z-index: 2;
}
.slogin{
    border-radius: 2rem;
    color: #000;
    text-decoration: none;
}
#glogin:hover{
    background-color: orangered;
}
#linkedinlogin:hover{
    background-color: #00a1dc97;
}
#facebooklogin:hover{
    background-color: #3b5998;
}
#errortxt{
    color: red;
}

/* biogas bot  */
#predictionbots{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90dvw;
    height: 60dvh;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
}
#biogasbotpic{
    width: 5dvw;
    margin: 2%;
    padding: 4%;
    background-color: white;
    border-radius: 100%;
}
#biogasbot{
    width: 90dvw;
    height: fit-content;
    background-color: #0f062a;
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    text-align: center;
}
#biogasqty{
    border: none;
    border-bottom: thin solid #72d51b;
    background-color: transparent;
    color: white;
}
#biogasqty::placeholder{
    color: white;
}
#predictbtn{
    border: none;
    border-bottom: thin solid #72d51b;
    background-color: #72d51b;
    color: #fff;
    width: 50dvw;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 1rem auto;
}
.custompredictimg{
    width: 50dvw;
    padding: 2%;
    margin: 2%;
}