/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #86dc3d;
}
img{
    user-select: none;
}
#hamburger{
    display: none;
}
header h1::selection{
    color: #86dc86;
    background-color: #000;
}
#Titletxt::selection{
    color: #86dc3d;
    background-color: #fff;
}
#Body p::selection{
    background-color: #86dc3d;
    color: #fff;
}
textarea{
    resize: none;
    color: #0000009e;
}
*{
    margin: 0;padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #fff;
}
header{
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: none;
}
header h1{
    padding: 1.5%;
    font-size: 1.5em;
    color: black;
}
#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50dvw;
    margin-right: 2%;
}
#buttons a{
    text-decoration: none;
    color: #000;
    padding: 1%;
    border-radius: 2rem;
    transition: background-color 0.8s ease, color 0.2s ease; /* Smooth transition */
}
#buttons a:hover{
    background-color: #000;
    color: #fff;
}
footer{
    position: absolute;
    bottom: 1dvh;
    width: fit-content;
    height: fit-content;
    left: 0;right: 0;
    margin: auto;
    opacity: 50%;
    font-size: 0.8em;
    z-index: 5;
}
#Body{
    position: absolute;
    top: 25dvh;
    left: 10dvw;
    color: #000;
    width: 70dvw;
    animation: show 0.8s ease;
}
#Titletxt{
    font-size: 3em;
}
#Body p{
    margin: 2%;
}
#emphasis{
    font-size: 1.5em;
}
#poverty-img{
    width: 18dvw;
    aspect-ratio: 4/4;
    position: absolute;
    right: 2dvw;
    top: 27dvh;
    animation: show 0.8s ease;
    mix-blend-mode: darken;
    user-select: none;
    object-fit: contain;
}
#feedback-block{
    z-index: 3!important;
    width: 5dvw;
    height: 5dvw;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2%;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: try 0.3s ease;
    box-shadow: 2px 2px 8px #013220;
    border-radius: 2rem;
}
#feedback-block img{
    width: 4dvw;
}
#feedback-block:hover{
    cursor: pointer;
    box-shadow: 2px 2px 16px #013220;
}
.statbox img{
    width: 4dvw;
}
.statbox h6{
    margin-bottom: 0;
}
#statbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 15dvh;
    left: 0;right: 0;
    margin: auto;
    width: 40dvw;
    text-align: center;
    animation: show 0.8s ease;
}

/* Join page */
#signuppage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: show 0.8s ease;
    width: 60dvw;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    height: fit-content;
    flex-direction: row-reverse;
    backdrop-filter: blue(10px);
    background: transparent;
}
#signupbox{
    width: fit-content;
    height: 60dvh;
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    animation: slider 0.3s ease;
    backdrop-filter: blue(10px);
}
@keyframes slider {
    from{
        transform: translate(-20%);
    }
}
#signupform input{
    display: block;
    text-align: left;
    padding: 2%;
    width: 25dvw;
    line-height: 2;
    border: none;
    border-bottom: thin solid #86dc3d;
}
#signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    background-color: transparent;
}
#signupform #submit{
    padding: 3%;
    background-color: #86dc3d;
    border-radius: 2rem;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.2s ease;
}
#signupform #submit:hover{
    box-shadow: 2px 2px #000;
}
::placeholder{
    color: #000000d0;
}
.dropdown-container {
    width: 25dvw;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #4caf50; /* Green line at the bottom */
    display: inline-block;
    margin-bottom: 10px; /* Adjust as needed */
    text-align: left;
  }
  
  #dropdown {
    width: 100%;
    border: none; /* Remove the default dropdown border */
    outline: none; /* Remove the default outline */
    background-color: transparent; /* Make the dropdown background transparent */
  }

  
#signupvector{
    user-select: none;
    width: 340px;
}
/* Contact form */
#contactformbox {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    margin: 2%;
    border: thin solid #000;
    border-radius: 2%;
    animation: show 0.3s ease;
    z-index: 3;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
  }

  
  form {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  #username,
  #email,
  textarea {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #fsubmit {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  #fsubmit:hover{
    border-radius: 2rem;
  }
  #close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: red;
    cursor: pointer;
  }
  #close-button:active #contactformbox{
    animation: hide 0.8s ease;
  }

/* Login box */
#success {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
#logindiv{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50dvw;
    height: 40dvw;
    /* backdrop-filter: blur(2px);  */
    animation: show 0.8s ease;
    margin: auto;
}
#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35dvh;
    width: 30dvw;
    padding: 6%;
    background-color: transparent;
}
#loginform h1{
    text-decoration: underline;
    padding-bottom: 1%;
}
#loginform input{
    padding: 4%;
    width: 25dvw;
    font-size: 1em;
    border: none;
    border-bottom: thin solid #86dc3d;
    background-color: transparent;
}
#loginsubmit{
    font-size: 1em;
    padding: 2%;
    animation: show 0.3s ease;
    background-color: #86dc3d;
    border-radius: 2rem;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
#loginsubmit:hover{
    box-shadow: 2px 2px #000;
}
#errortxt{
    color: red;
}
#addfoodimg{
    width: 15dvw;
}
#addfoodchild{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 55dvh;
}
/* add food */
#addfoodcont{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
    width: 70dvw;
    height: 35dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 0;
    animation: slider 0.3s ease;
}
#addfooddisclaimer{
    margin: 2%;
}
#addfoodform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    margin-top: 2%;
}
#addfoodform input{
    display: block;
    text-align: left;
    padding: 2%;
    width: 25dvw;
    line-height: 1;
    border: none;
    border-bottom: thin solid #86dc3d;
    color: #0000009e;
}
.adddrop-container {
    width: 25dvw;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #4caf50; /* Green line at the bottom */
    display: inline-block;
    margin-bottom: 10px; /* Adjust as needed */
    text-align: left;
  }
  
.adddropdown {
    width: 100%;
    border: none; /* Remove the default dropdown border */
    outline: none; /* Remove the default outline */
    background-color: transparent; /* Make the dropdown background transparent */
}
.adddrop-container select{
    color: #0000009e;
}
#addsubmit{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: #86dc3d;
    border-radius: 2rem;
}
#addsubmit:hover{
    box-shadow: 2px 2px #000;
}
#custommessage{
    width: 25dvw;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #4caf50; /* Green line at the bottom */
    display: inline-block;
    color: #0000009e;
}

/* request food */
#vegetarian{
    width: 20px;
    height: 20px;
    border: thin solid #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4caf50;
}
#vegetarian .vnv{
    background-color: #4caf50;
    width: 10px;
    height: 10px;
    border-radius: 2rem;
}
#non-vegetarian{
    width: 20px;
    height: 20px;
    border: thin solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #4caf50; */
}
#non-vegetarian .vnv{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 2rem;
}
#reqfood_body{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    width: 85vw;
    height: 70vh;
}
#available{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 85vw;
    height: fit-content;
    max-height: 72dvh;
    flex-wrap: wrap;
    overflow-x:hidden;
    overflow: scroll;
}
.availcard{
    width: 20dvw; 
    height: fit-content;
    max-height: 45dvh;
    overflow-y: none;
    margin: 2%;
    text-align: center;
    line-height: 1.5;
    transition: all 0.5s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    backdrop-filter: blur(10px);
    background-color: #EDEADE;
    padding: 4%;
    border-radius: 2rem;
    animation: fadepop 0.3s ease;
}
.availcard:hover{
    transform: scale(0.95);
}
.availcard p{
    line-height: 1;
}
@keyframes fadepop {
    from{
        transform: scale(0.8);
    }
}
  /* Keyframes */
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}
@keyframes hide {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0;
    }
}


/* Miniatures */
#background{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;left: 0;
    z-index: -1;
    overflow: hidden;
}
.circles{
    border-radius: 100%;
    background-color: #86dc3d;
    position: relative;
}
@keyframes try {
    from{
        transform: translate(-20%);
    }
}
@keyframes try2 {
    from{
        transform: translate(20%);
    }
}
#left-small{
    width: 12dvw;
    animation: try 0.8s ease;
    height: 12dvw;
    left: 10%;
    bottom: 8dvh;
}
#left-mini{
    width: 20px;
    height: 20px;
    left: 35%;
    bottom: 8%;
    animation: try 0.8s ease;
}
#right-big{
    width: 35dvw;
    height: 35dvw;
    bottom: 65%;
    left: 50%;
    animation: try2 0.8s ease;
}
#right-mini{
    width: 15px;
    height: 15px;
    left: 90%;
    bottom: 80%;
    animation: try2 0.8s ease;
}
#rbottom-small{
    width: 175px;
    height: 175px;
    left: 90%;
    bottom: 16dvh;
    animation: try2 0.8s ease;
}


/* BOOTSTRAP */
#about_page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;margin: auto;
    width: 80dvw;
    height: fit-content;
}
#about_vector{
    width: 300px;
}
#accordion{
    width: 50dvw;
    height: 50dvh;
    overflow: scroll;
    overflow-x: hidden;
    border: none;
    text-align: left;
}
.btn-link{
    color: #4caf50;
    text-decoration: none;
    font-weight: 500;
}
.card{
    border: none;
}
.btn-link:hover{
    font-weight: 500;
    color: #4caf50;
}
.btn-link:focus{
    text-decoration: none;
}
.card-header{
    background-color: white;
}

/* DevMsg */
#devmsg{
    width: fit-content;
    height: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-20dvw);
    z-index: 5;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
#msgcontainer{
    width: 20dvw;
    overflow-x: scroll;
    height: 10dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    background-color: brown;
    color: white;
    border-radius: 4%;
    user-select: none;
}
#msgcontainer h6{
    padding: 2%;
}
#devmsgbtn{
    width: 2dvw;
    height: 1dvw;
    border-top-right-radius: 2rem;
    z-index: 5;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    background-color: brown;
}
#devmsg:hover {
    transform: translate(0);
    z-index: 5;
}



@media (max-height:649px) {
    #statbar{
        bottom: 5dvh;
    }
    footer p{
        padding: 0;
        margin: 0;
    }
}
@media (min-height:650px) {
    #statbar{
        bottom: 15dvh;
    }
}
@media (max-height:703px){
    #right-big{
        width: 30dvw;
        height: 30dvw;
    }
}
@media (max-height:661px){
    #right-big{
        width: 30dvw;
        height: 30dvw;
    }
}

/* Mobile viewport */
@media (max-width:1023px) {

    #opennav{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100dvw;
    }
    header h1{
        margin: 2%;
    }
    #menubar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 5dvh;
        width: 10dvw;
        margin: 2%;
        z-index: 3;
    }
    .menuline{
        background-color: #86dc3d;
        width: 10dvw;
        height: 0.6dvh;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 3;
    }
    #header.active .menuline{
        background-color: red;
    }
    #menubar:nth-child(2){
        transform-origin: center;
    }
    #header.active .menuline:nth-child(1){
        transform: translateY(4dvw) rotate(45deg);
    }
    #header.active .menuline:nth-child(3){
        transform: translateY(-4dvw) rotate(-45deg);
    }
    #header.active .menuline:nth-child(2){
        transform: scale(0);
    }
    #header.active #opennav{
        position: absolute;
        width: 100dvw;
        height: 100dvh;
        z-index: 2;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom,#86dc3d,#fff);
        display: flex;
        animation: dropdown 0.4s ease;
        transition: all 0.4s ease;
    }
    #navbuttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 50dvh;
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;margin: auto;
    }
    #navbuttons a{
        font-size: 1.5em;
    }
    a{
        text-decoration: underline;
        color: #000;
        font-weight: 500;
    }
    #Body{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 15dvh;
    }
    #Titletxt{
        color: #86dc3d;
    }
    #agendalist{
        width: 75dvw;
        justify-content: center;
    }
    #agendalist li{
        margin: 1%;
    }
    #statbar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 70dvw;
        height: 20dvh;
        position: absolute;
        bottom: 10dvh;
    }
    #simg{
        width: 10dvw;
    }
    #feedback-block img{
        width: 8dvw;
    }
    #feedback-block{
        width: 10dvw;
        height: 10dvw;
    }
    #contactformbox{
        z-index: 2;
    }
    footer{
        z-index: 1;
        bottom: 0;
        margin: auto;
        position: absolute;
    }
    footer p{
        margin-bottom: 0;
    }
    /* About */
    #about_page{
        display: flex;
        align-items: center;
        justify-content: space-center;
        flex-direction: column;
        position: absolute;
        left: 5dvw;
        width: 80dvw;
        height: fit-content;
    }
    #accordion{
        width: 80dvw;
        height: 50dvh;
        overflow: scroll;
        border: none;
    }
    .btn-link{
        color: #4caf50;
        width: 80dvw;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.8em;
    }
    #signuppage{
        width: 80dvw;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #signupbox{
        width: 80dvw;
    }
    #signupform input{
        width: 75dvw;
    }
    .dropdown-container{
        width: 75dvw;
    }
    #loginform input{
        width: 75dvw;
    }
    #loginsubmit{
        width: 20dvw;
    }
    .availcard{
        width: 65dvw;
    }
}
@keyframes dropdown {
    from{
        transform: translateY(-100%);
    }
}