/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif!important;
}
body{
    user-select: none;
    overflow: hidden;
}
::selection{
    background-color: #86dc3d;
}
#togglemode{
    cursor: pointer;
}
img{
    user-select: none;
    z-index: 2;
}
#hamburger{
    display: none;
}
header h1::selection{
    color: #86dc86;
    background-color: #000;
}
#Titletxt::selection{
    color: #86dc3d;
    background-color: #fff;
}
#Body p::selection{
    background-color: #86dc3d;
    color: #fff;
}
textarea{
    resize: none;
    color: #0000009e;
}
*{
    margin: 0;padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #fff;
}
header{
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: none;
    transform: translateY(-2.4dvw);
    transition: all 0.3s ease;
}
header.active{
    transform: translateY(2.4dvw);
}
#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 55dvw;
    margin: auto;
    border-radius: 1rem;
    height: fit-content;
}
#buttons a{
    /* background-color: rgba(246,211,52,1); */
    background-color: brown;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all 0.3s ease;/* Smooth transition */
}
.nav-link-1.active:hover, .nav-link-2.active:hover, .nav-link-3.active:hover, .nav-link-4.active:hover, .nav-link-5.active:hover, .nav-link-6.active:hover{
    transform: translateY(2.5dvw);
}
#shutter{
    position: absolute;
    right: 0;
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
#shutter-circle{
    width: 3dvw;
    height: 3dvw;
    border-radius: 100%;
    background-color: rgba(246,211,52,1);
    position: absolute;
}
#shutter-rod{
    width: 4dvw;
    height: 1.5dvh;
    background-color: rgba(246,211,52,1);
    border-radius: 1rem;
    position: absolute;
    transform-origin: bottom;
    transform: translateX(-1dvw) rotate(20deg);
    border: thick solid #000;
    z-index: -1;
    transition: all 0.3s ease;
}
#shutter-rod.active{
    transform: translateX(-1dvw) rotate(-20deg);
}
#shutter-rod:hover{
    transform: translateX(-1.5dvw);
    cursor: pointer;
}
footer{
    position: absolute;
    bottom: 1dvh;
    width: fit-content;
    height: fit-content;
    left: 0;right: 0;
    margin: auto;
    opacity: 50%;
    font-size: 0.8em;
    z-index: 5;
}
#Body{
    position: absolute;
    top: 25dvh;
    left: 10dvw;
    color: #000;
    width: 70dvw;
    animation: show 0.8s ease;
}
#Titletxt{
    font-size: 3em;
}
#Body p{
    margin: 2%;
}
#emphasis{
    font-size: 1.5em;
}
#poverty-img{
    width: 18dvw;
    aspect-ratio: 4/4;
    position: absolute;
    right: 2dvw;
    top: 27dvh;
    animation: show 0.8s ease;
    mix-blend-mode: darken;
    user-select: none;
    object-fit: contain;
}
#feedback-block{
    z-index: 3!important;
    width: 5dvw;
    height: 5dvw;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2%;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: try 0.3s ease;
    box-shadow: 2px 2px 8px #013220;
    border-radius: 2rem;
}
#feedback-block img{
    width: 4dvw;
}
#feedback-block:hover{
    cursor: pointer;
    box-shadow: 2px 2px 16px #013220;
}
#fsubmit{
    border-radius: 2rem;
}
.statbox img{
    width: 4dvw;
}
.statbox h6{
    margin-bottom: 0;
}
#statbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 15dvh;
    left: 0;right: 0;
    margin: auto;
    width: 40dvw;
    text-align: center;
    animation: show 0.8s ease;
}

/* Join page */
.card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    mix-blend-mode:darken;
    padding: 25px;
}
#signuppage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: show 0.8s ease;
    width: 60dvw;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    height: fit-content;
    flex-direction: row-reverse;
    backdrop-filter: blue(10px);
    background: transparent;
    mix-blend-mode: darken;
}
#signupbox{
    width: fit-content;
    height: 60dvh;
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    animation: slider 0.3s ease;
    backdrop-filter: blue(10px);
}
@keyframes slider {
    from{
        transform: translate(-20%);
    }
}
#signupform input{
    display: block;
    text-align: left;
    padding: 2%;
    width: 25dvw;
    line-height: 2;
    border: none;
    border-bottom: thin solid #86dc3d;
}
#signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    background-color: transparent;
}
#signupform #submit{
    padding: 3%;
    background-color: #86dc3d;
    border-radius: 2rem;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.2s ease;
}
#signupform #submit:hover{
    box-shadow: 2px 2px #000;
}
::placeholder{
    color: #000000d0;
}
.dropdown-container {
    width: 25dvw;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #4caf50; /* Green line at the bottom */
    display: inline-block;
    margin-bottom: 10px; /* Adjust as needed */
    text-align: left;
  }
  
  #dropdown {
    width: 100%;
    border: none; /* Remove the default dropdown border */
    outline: none; /* Remove the default outline */
    background-color: transparent; /* Make the dropdown background transparent */
  }

  
#signupvector{
    user-select: none;
    width: 340px;
}
/* Contact form */
#contactformbox {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    margin: 2%;
    border: thin solid #000;
    border-radius: 2%;
    animation: show 0.3s ease;
    z-index: 3;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
  }

  
  form {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  #username,
  #email,
  textarea {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #fsubmit {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  #close-button {
    position: absolute;
    right: 2%;
    background: transparent;
    border: none;
    font-size: 18px;
    color: red;
    cursor: pointer;
  }
  #close-button:active #contactformbox{
    animation: hide 0.8s ease;
  }

/* Login box */
#success {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
#failure{
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#failure ul,li{
    list-style:lower-roman;
    text-align: left;
}
#logindiv{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75dvw;
    height: 60dvh;
}
#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40dvh;
}
#loginmaindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#loginmaindiv input,button{
    margin: 4%;
}
#loginsubmit{
    padding: 0;margin: 0;
    background-color: #86dc3d;
    border-radius: 2rem;
    padding: 2%;
    transition: all 0.3s ease;
}
#loginsubmit:hover{
    box-shadow: 2px 2px #000;
}
#loginmaindiv input{
    border: none;
    width: 30dvw;
    outline: none;
    padding-bottom: 0;
    transition: padding-bottom 0.3s ease;
}
#loginmaindiv input:focus{
    border-bottom: thin solid #86dc3d!important;
    padding-bottom: 2%;
}
#loginmaindiv input:valid{
    border-bottom: thin solid #86dc3d!important;
    padding-bottom: 2%;
}
#loginmaindiv input:hover{
    border-bottom: thin solid #86dc3d;
    padding-bottom: 2%;
}
#vline{
    width: 0.5dvw;
    height: 25dvh;
    background-color: darkgray;
    border-radius: 2rem;
}
#sociallogins{
    height: 30dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.slogin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25dvw;
    height: 6dvh;
    border: thin solid #000;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}
.sloginpic{
    width: 2dvw;
    margin: 2%;
    display: inline;
    z-index: 2;
}
.slogin:hover{
    border-radius: 2rem;
    color: #000;
    text-decoration: none;
}
#glogin:hover{
    background-color: orangered;
}
#linkedinlogin:hover{
    background-color: #00a1dc97;
}
#facebooklogin:hover{
    background-color: #3b5998;
}
#errortxt{
    color: red;
}
/* add food */
#addfoodcont{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;margin: auto;
    width: 80dvw;
    height: 40dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#addfoodimg{
    width: 12dvw;
    mix-blend-mode: darken;
}
#addfoodchild{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 40dvw;
    height: 40dvh;
}
#addfoodslider{
    width: 25dvw;
    height: 50dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #EDEADE;
    box-shadow: 2px 2px 8px #000;
    border-radius: 1rem;
}
.slide1img{
    aspect-ratio: 2/2;
    object-fit: contain;
    mix-blend-mode: darken;
    width: 5dvw;
    padding: 0.9dvw;
    box-shadow: 2px 2px 4px #000;
    border-radius: 1rem;
    background-color: white!important;
}
#imageOptions input[type="radio"]{
    display: none;
}
#imageOptions input[type="radio"]:checked + #excessfoodopt{
    box-shadow: 2px 2px 8px #86dc3d;
}
#imageOptions input[type="radio"]:checked + #leftoverfoodopt{
    box-shadow: 2px 2px 8px #B8860B;
}
#imageOptions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20dvw;
}
#imageOptions label{
    background-color: #fff;
    border-radius: 1rem;
}
#page1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 20dvh;
}
#page2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 20dvh;
}
#imageOptions input[type="radio"]:checked + #vegfoodopt{
    box-shadow: 2px 2px 8px #86dc3d;
}
#imageOptions input[type="radio"]:checked + #nonvegfoodopt{
    box-shadow: 2px 2px 8px red;
}
#quantity{
    border: none;
    outline: none;
    margin-top: 2%;
    border-bottom: thin solid #86dc3d;
}
#quantity::placeholder{
    opacity: 0.6;
}
#page3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 20dvh;
}
#page3 input{
    border: none;
    border-bottom: thin solid #86dc3d;
    outline: none;
    background-color: #EDEADE;
}
#page4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 20dvh;
}
#page4 input{
    border: none;
    border-bottom: thin solid #86dc3d;
    outline: none;
    width: 50%;
    background-color: #EDEADE;
}
#page4 textarea{
    border: none;
    border-bottom: thin solid #86dc3d;
    outline: none;
    width: 50%;
    background-color: #EDEADE;
}
#addfoodsubmit{
    display: none;
}
#addfoodslider.active #addfoodsubmit{
    display: flex;
}
#addfoodslider.active #next{
    display: none;
}
#page1,#page2,#page3,#page4{
    display: none;
}
#page1.active{
    display: flex;
}
#page2.active{
    display: flex;
}
#page3.active{
    display: flex;
}
#page4.active{
    display: flex;
}
#slidenavigator{
    display: flex;
    margin-top: 4%;
    align-items: center;
    justify-content: space-around;
    width: 30dvw;
}
#slidenavigator button{
    background-color: #86dc3d;
    padding: 2%;
    border-radius: 1rem;
}
#progressbar{
    width: 5dvw;
    height: 2dvw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pgbardots{
    background-color: #87dc3d62;
    width: 0.8dvw;
    height: 0.8dvw;
    border-radius: 100%;
}
.pgbardots.active{
    background-color: #72d51b;
    opacity: 100%;
}
/* request food */
#vegetarian{
    width: 20px;
    height: 20px;
    border: thin solid #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4caf50;
}
#vegetarian .vnv{
    background-color: #4caf50;
    width: 10px;
    height: 10px;
    border-radius: 2rem;
}
#non-vegetarian{
    width: 20px;
    height: 20px;
    border: thin solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #4caf50; */
}
#non-vegetarian .vnv{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 2rem;
}
#reqfood_body{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    width: 85vw;
    height: 70vh;
}
#available{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85vw;
    height: fit-content;
    max-height: 72dvh;
    flex-wrap: wrap;
    overflow-x:hidden;
    overflow: scroll;
}
.availcard{
    width: 20dvw; 
    height: fit-content;
    max-height: 45dvh;
    margin: 2%;
    text-align: center;
    line-height: 1.5;
    transition: all 0.5s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    backdrop-filter: blur(10px);
    background-color: #EDEADE;
    padding: 4%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.availcard p{
    line-height: 1;
}
#reqbtn{
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    padding: 2%;
    color: white;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
}
#reqbtn:hover{
    transform: translateY(5px);
}
#reqbtn.vegetarian{
    background-color: #72d51b;
}
#reqbtn.non-vegetarian{
    background-color: red;
}
/* #dummyform{
    width: 20dvw; 
    height: fit-content;
    max-height: 45dvh;
    margin: 2%;
    text-align: center;
    line-height: 1.5;
    transition: all 0.5s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    backdrop-filter: blur(10px);
    background-color: #EDEADE;
    padding: 4%;
    border-radius: 2rem;
    animation: fadepop 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
} */
.availcard:hover{
    transform: scale(0.95);
}
.cardidvalue{
    display: none;
}
@keyframes fadepop {
    from{
        transform: scale(0.8);
    }
}
  /* Keyframes */
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}
@keyframes hide {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0;
    }
}


/* Miniatures */
#background{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;left: 0;
    z-index: -1;
    overflow: hidden;
}
#left-small{
    width: 15dvw;
    animation: try 0.8s ease;
    height: 15dvw;
    position: absolute;
    left: 10%;
    top: 5dvh;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
#left-mini{
    width:2dvw;
    height: 2dvw;
    position: absolute;
    left: 40dvw;
    bottom: 8%;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
#right-big{
    width: 35dvw;
    height: 35dvw;
    position: absolute;
    bottom: 65%;
    left: 50%;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
#right-mini{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 90%;
    bottom: 80%;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
#rbottom-small{
    width: 175px;
    height: 175px;
    left: 90%;
    position: absolute;
    bottom: 16dvh;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
.bg-dotsl{
    animation: slowshowl 0.3s ease;
}
.bg-dotsr{
    animation: slowshowr 0.3s ease;
}
@keyframes slowshowl {
    0%{
        transform: translateX(-10px)
    }
    25%{
        transform: translateX(-6px)
    }
    50%{
        transform: translateX(-4px);
    }
    75%{
        transform: translateX(-2px)
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes slowshowr {
    0%{
        transform: translateX(10px)
    }
    25%{
        transform: translateX(6px)
    }
    50%{
        transform: translateX(4px);
    }
    75%{
        transform: translateX(2px)
    }
    100%{
        transform: translateX(0px);
    }
}
/* about */
#FAQ{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: 70dvw;
    height: 50dvh;
    padding: 2%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.faq-ques{
    /* background-color: rgba(246,211,52,1); */
    background-color: #013220;
    padding: 2%;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 3;
    margin: 0;
    color: #fff;
}
.faq-ans{
    padding: 2%;
    background-color: #01322088;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1;
    overflow: hidden;
}
.faq-ans.active{
    max-height: 30dvh;
    opacity: 1;
    height: fit-content;
    border-radius: 1rem;
}
.faq-ques.active{
    box-shadow: 2px 2px 16px #000;
}

/* DevMsg */
#devmsg{
    width: fit-content;
    height: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-20dvw);
    z-index: 5;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
#msgcontainer{
    width: 20dvw;
    overflow-x: none;
    height: 10dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    background-color: brown;
    color: white;
    border-radius: 4%;
    user-select: none;
}
#msgcontainer h6{
    padding: 2%;
}
#devmsgbtn{
    width: 2dvw;
    height: 1dvw;
    border-top-right-radius: 2rem;
    z-index: 5;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    background-color: brown;
}
#devmsg:hover {
    transform: translate(0);
    z-index: 5;
}

/* Prediction Bots */
#predictionbots{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70dvw;
    height: 60dvh;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
}
#biogasbotpic{
    width: 5dvw;
    margin: 2%;
    padding: 4%;
    background-color: white;
    border-radius: 100%;
}
#biogasbot{
    width: 20dvw;
    height: fit-content;
    background-color: #0f062a;
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
#hungerdeathbots{
    width: 20dvw;
    height: fit-content;
    background-color: #0f062a;
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    opacity: 0.4;
}
#biogasform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 20dvh;
}
#hungerdeathstats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 20dvh;
}
#biogasqty{
    border: none;
    border-bottom: thin solid #72d51b;
    background-color: transparent;
    color: white;
}
#biogasqty::placeholder{
    color: white;
}
#predictbtn{
    border: none;
    border-bottom: thin solid #72d51b;
    background-color: #72d51b;
    color: #fff;
    width: 10dvw;
    border-radius: 1rem;
    cursor: pointer;
}
#displayhungerstatbot{
    text-align: center;
}
#predictionbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.custompredictimg{
    width: 8dvw;
    padding: 2%;
    margin: 2%;
}
.features{
    opacity: 30%;
    background-color: #000;
    text-align: center;
}

@media (max-height:649px) {
    #statbar{
        bottom: 5dvh;
    }
    footer p{
        padding: 0;
        margin: 0;
    }
}
@media (min-height:650px) {
    #statbar{
        bottom: 15dvh;
    }
}
@media (max-height:703px){
    #right-big{
        width: 30dvw;
        height: 30dvw;
    }
}
@media (max-height:661px){
    #right-big{
        width: 30dvw;
        height: 30dvw;
    }
}

/* Mobile viewport */
@media (max-width:1023px) {

    #opennav{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100dvw;
    }
    header h1{
        margin: 2%;
    }
    #menubar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 5dvh;
        width: 10dvw;
        margin: 2%;
        z-index: 3;
    }
    .menuline{
        background-color: #86dc3d;
        width: 10dvw;
        height: 0.6dvh;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 0.3s ease;
        z-index: 3;
    }
    #header.active .menuline{
        background-color: red;
    }
    #menubar:nth-child(2){
        transform-origin: center;
    }
    #header.active .menuline:nth-child(1){
        transform: translateY(4dvw) rotate(45deg);
    }
    #header.active .menuline:nth-child(3){
        transform: translateY(-4dvw) rotate(-45deg);
    }
    #header.active .menuline:nth-child(2){
        transform: scale(0);
    }
    #header.active #opennav{
        position: absolute;
        width: 100dvw;
        height: 100dvh;
        z-index: 2;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom,#86dc3d,#fff);
        display: flex;
        animation: dropdown 0.4s ease;
        transition: all 0.4s ease;
    }
    #navbuttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 50dvh;
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;margin: auto;
    }
    #navbuttons a{
        font-size: 1.5em;
    }
    a{
        text-decoration: underline;
        color: #000;
        font-weight: 500;
    }
    #Body{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 15dvh;
    }
    #Titletxt{
        color: #86dc3d;
    }
    #agendalist{
        width: 75dvw;
        justify-content: center;
    }
    #agendalist li{
        margin: 1%;
        list-style:disc;
    }
    #statbar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 65dvw;
        height: 20dvh;
        position: absolute;
        bottom: 10dvh;
        flex-direction: row-reverse;
        gap: 20px;
    }
    #simg{
        width: 10dvw;
    }
    #feedback-block img{
        width: 8dvw;
    }
    #feedback-block{
        width: 10dvw;
        height: 10dvw;
    }
    #contactformbox{
        z-index: 2;
    }
    footer{
        z-index: 1;
        bottom: 0;
        margin: auto;
        position: absolute;
    }
    footer p{
        margin-bottom: 0;
    }
    /* About */
    #about_page{
        display: flex;
        align-items: center;
        justify-content: space-center;
        flex-direction: column;
        position: absolute;
        left: 5dvw;
        width: 80dvw;
        height: fit-content;
    }
    #accordion{
        width: 80dvw;
        height: 50dvh;
        overflow: scroll;
        border: none;
    }
    .btn-link{
        color: #4caf50;
        width: 80dvw;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.8em;
    }
    #signuppage{
        width: 80dvw;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #signupbox{
        width: 80dvw;
    }
    #signupform input{
        width: 75dvw;
    }
    .dropdown-container{
        width: 75dvw;
    }
    #loginform input{
        width: 75dvw;
    }
    #loginsubmit{
        width: 20dvw;
    }
    .availcard{
        width: 65dvw;
    }
    #vline{
        display: none;
    }
    #sociallogins{
        display: none;
    }
    #underconstruction{
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }
    #addfoodimg{
        display: none;
    }
    #addfoodcont{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        height: 65dvh;
        width: fit-content;
        position: absolute;
        top: 0;left: 0;bottom: 0;right: 0;
        margin: auto;
    }
    #addfoodslider{
        width: 60dvw;
        height: 30dvh;
    }
    #addfoodchild{
        height: 5dvh;
    }
    #addfooddisclaimer{
        height: 10dvh;
        width: 85dvw;
    }
    .slide1img{
        width: 15dvw;
    }
    #imageOptions{
        width: 50dvw;
    }
    #slidenavigator{
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-self: center;
        width: 40dvw;
    }
}
@keyframes dropdown {
    from{
        transform: translateY(-100%);
    }
}



/* scrollbar in windows */
.availcard::-webkit-scrollbar{
    display: none;
}
#available::-webkit-scrollbar{
    display: none;
}
#reqfood_body::-webkit-scrollbar{
    display: none;
}


#loader_div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
    width: calc(100vw);
    background-color: #fff;
    z-index: 99999;
    position: absolute;
    left: 0;
    top: 0;
}
#load {
    display: flex;
    gap: 12px;
  }
  
  #load div {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    box-shadow: inset 0 -0.2rem rgba(255,255,255, 0.8);
  
    animation: cycle 1s ease-in-out infinite;
  }
  
  #load div:nth-child(1) {
    animation-delay: 0;
  }
  
  #load div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  #load div:nth-child(3) {
    animation-delay: 0.4s;
  }
  
@keyframes cycle {
0% {
    transform: translateY(0);
}

50% {
    transform: translateY(1rem);
}

100% {
    transform: translateY(0);
}
}

#err-img{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
}
#admin-workspace{
    width: 80dvw;
    height: 60dvh;
    position: absolute;
    left: 0;right: 0;bottom: 0;top: 0;
    margin: auto;
    text-align: center;
    padding: 2%;
}
.flex-admin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70dvw;
    height: 50dvh;
}
.admin-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #EDEADE;
    width: 25dvw;
    padding: 2%;
    margin: 2%;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.admin-cards:hover{
    transform: scale(0.95);
}
.Add-Admin, .Top-Donors{
    display: none;
    align-items: center;
    justify-content: space-around;
}
.usermails{
    margin: 2%;
}
#admin-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60dvh;
    width: 45dvw;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
}
#user-mail-container{
    height: 40dvh;
    display: flex;
    width: 35dvw;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}
#btn-admin-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.admin-submit{
    padding: 2%;
    border-radius: 1rem;
    background-color: #000;
    color: #c0c0c0;
    font-size: 0.75rem;
    width: 20dvw;
    cursor: pointer;
}
.usermail-label{
    background-color:#013220;
    color: #fff;
    padding: 2%;
    margin: 2%;
    border-radius: 1rem;
}
#user-org-container{
    height: 40dvh;
    display: flex;
    width: 35dvw;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}
.userorg-label{
    background-color:#013220;
    color: #fff;
    padding: 2%;
    margin: 2%;
    border-radius: 1rem;
}
.Top-Donors{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
    width: 70dvw;
    height: 70dvh;
}
#don-submit{
    border-radius: 1rem;
    background-color: #000;
    color: #c0c0c0;
    cursor: pointer;
}
.userorgs{
    margin: 2%;
}
#orgdata{
    width: 35dvw;
    height: 50dvh;
    background-color: #013220;
    color: #fff;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}