/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
textarea{
    resize: none;
    color: #0000009e;
}
*{
    margin: 0;padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #fff;
}
header{
    /* background-color: #86dc3d; */
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: none;
}
header h1{
    padding: 1.5%;
    font-size: 1.5em;
    color: black;
}
#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50dvw;
    margin-right: 2%;
}
#buttons a{
    text-decoration: none;
    color: #000;
    padding: 1%;
    border-radius: 2rem;
    transition: background-color 0.8s ease, color 0.2s ease; /* Smooth transition */
}
#buttons a:hover{
    background-color: #000;
    color: #fff;
}
footer{
    position: absolute;
    bottom: 1dvh;
    width: fit-content;
    height: fit-content;
    left: 0;right: 0;
    margin: auto;
    opacity: 50%;
    font-size: 0.8em;
}
#Body{
    position: absolute;
    top: 25dvh;
    left: 10dvw;
    color: #000;
    width: 70dvw;
    animation: show 0.8s ease;
}
#Titletxt{
    font-size: 3em;
}
#Body p{
    margin: 2%;
}
#emphasis{
    font-size: 1.5em;
}
#poverty-img{
    width: 18dvw;
    position: absolute;
    right: 2dvw;
    z-index: -1;
    top: 27dvh;
    animation: show 0.8s ease;
}
#feedback-block{
    z-index: 3!important;
    width: 5dvw;
    height: 5dvw;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #86dc3d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}
#feedback-block p{
    font-size: 2em;
}
#feedback-block:hover{
    box-shadow: inset 2px 2px 8px #86dc3d;
    cursor: pointer;
}
.statbox img{
    width: 5dvw;
}
#statbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 15dvh;
    left: 0;right: 0;
    margin: auto;
    width: 40dvw;
    text-align: center;
    animation: show 0.8s ease;
}

/* Join page */
#signuppage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: show 0.8s ease;
    width: 60dvw;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    height: fit-content;
    flex-direction: row-reverse;
}
#signupbox{
    width: fit-content;
    height: 60dvh;
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}
#signupform input{
    display: block;
    text-align: left;
    padding: 2%;
    width: 25dvw;
    line-height: 2;
    border: none;
    border-bottom: thin solid #86dc3d;
}
#signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#signupform #submit{
    padding: 3%;
    background-color: #86dc3d;
    border-radius: 2rem;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.2s ease;
}
#signupform #submit:hover{
    box-shadow: 2px 2px #000;
}
::placeholder{
    color: #000000d0;
}
.dropdown-container {
    width: 25dvw;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #4caf50; /* Green line at the bottom */
    display: inline-block;
    margin-bottom: 10px; /* Adjust as needed */
    text-align: left;
  }
  
  #dropdown {
    width: 100%;
    border: none; /* Remove the default dropdown border */
    outline: none; /* Remove the default outline */
    background-color: transparent; /* Make the dropdown background transparent */
  }
  
#vectorsignup{
    transform: scale(1.5);
}
/* Contact form */
#contactformbox {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    margin: 2%;
    border: thin solid #000;
    border-radius: 2%;
    animation: show 0.3s ease;
    z-index: 3;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
  }

  
  form {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  #username,
  #email,
  textarea {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #fsubmit {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  #fsubmit:hover{
    border-radius: 2rem;
  }
  #close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: red;
    cursor: pointer;
  }
  #close-button:active #contactformbox{
    animation: hide 0.8s ease;
  }

/* Login box */
#success {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
}
#logindiv{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(2px); 
    animation: show 0.8s ease;
}
#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35dvh;
    width: 30dvw;
    padding: 6%;
    background-color: transparent;
}
#loginform h1{
    text-decoration: underline;
}
#loginform input{
    padding: 4%;
    width: 25dvw;
    font-size: 1em;
    border: none;
    border-bottom: thin solid #86dc3d;
    background-color: transparent;
}
#loginsubmit{
    font-size: 1em;
    padding: 2%;
    animation: show 0.3s ease;
    background-color: #86dc3d;
    border-radius: 2rem;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
#loginsubmit:hover{
    box-shadow: 2px 2px #000;
}
#errortxt{
    color: red;
}
#addfoodimg{
    width: 15dvw;
}
#addfoodchild{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 55dvh;
}
/* add food */
#addfoodcont{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
    width: 70dvw;
    height: 35dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 0;
}
#addfooddisclaimer{
    margin: 2%;
}
#addfoodform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(2px);
}
#addfoodform input{
    display: block;
    text-align: left;
    padding: 2%;
    width: 25dvw;
    line-height: 2;
    border: none;
    border-bottom: thin solid #86dc3d;
    color: #0000009e;
}
.adddrop-container {
    width: 25dvw;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #4caf50; /* Green line at the bottom */
    display: inline-block;
    margin-bottom: 10px; /* Adjust as needed */
    text-align: left;
  }
  
.adddropdown {
    width: 100%;
    border: none; /* Remove the default dropdown border */
    outline: none; /* Remove the default outline */
    background-color: transparent; /* Make the dropdown background transparent */
}
.adddrop-container select{
    color: #0000009e;
}
#addsubmit{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: #86dc3d;
    border-radius: 2rem;
}
#addsubmit:hover{
    box-shadow: 2px 2px #000;
}
#custom-message{
    width: 25dvw;
    padding: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid #4caf50; /* Green line at the bottom */
    display: inline-block;
    color: #0000009e;
}

/* request food */
#vegetarian{
    width: 20px;
    height: 20px;
    border: thin solid #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4caf50;
}
#vegetarian .vnv{
    background-color: #4caf50;
    width: 10px;
    height: 10px;
    border-radius: 2rem;
}
#non-vegetarian{
    width: 20px;
    height: 20px;
    border: thin solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4caf50;
}
#non-vegetarian .vnv{
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 2rem;
}
#reqfood_body{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    width: 85vw;
    height: 70vh;
}
#available{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 85vw;
    height: fit-content;
    max-height: 75dvh;
    flex-wrap: wrap;
    overflow: scroll;
}
.availcard{
    width: 15dvw;
    height: fit-content;
    /* box-shadow: 1px 1px 10px #86dc3d; */
    margin: 2%;
    text-align: center;
    padding: 2%;
    line-height: 1.5;
    transition: all 0.5s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    backdrop-filter: blur(10px);
}
.availcard:hover{
    transform: scale(0.9);
}
  /* Keyframes */
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}
@keyframes hide {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0;
    }
}


/* Miniatures */
#background{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;left: 0;
    z-index: -1;
    overflow: hidden;
}
.circles{
    border-radius: 100%;
    background-color: #86dc3d;
    position: relative;
}
#left-small{
    width: 150px;
    height: 150px;
    left: 10%;
    bottom: 8dvh;
}
#left-mini{
    width: 20px;
    height: 20px;
    left: 35%;
    bottom: 8%;
}
#right-big{
    width: 500px;
    height: 500px;
    bottom: 65%;
    left: 50%;
}
#right-mini{
    width: 15px;
    height: 15px;
    left: 90%;
    bottom: 80%;
}
#rbottom-small{
    width: 175px;
    height: 175px;
    left: 90%;
    bottom: 16dvh;
}