

<%- include("../mobile_partials/header"); -%>
<%- include("../components/devmsg"); -%>
<div id="failure">
    <h1>Failed to process the registration :(</h1>
    <ul>
        Please make sure :
        <li>You use a new mail id</li>
        <li>Pass all required validations</li>
    </ul>
</div>
<%- include("../components/feedback"); -%>
<%- include("../mobile_partials/footer"); -%>