<%- include("../partials/header"); -%>
<%- include("../partials/bg"); -%>
<div id="err-img">
    <dotlottie-player src="https://lottie.host/6c779ef2-7911-463d-82c2-f88ab10c0faf/3KnkQQKzHt.json" background="transparent" speed="0.75" style="width: 500px; height: 500px;" loop autoplay></dotlottie-player>
</div>
<%- include("../partials/footer"); -%>