<%- include("../mobile_partials/header"); -%>
<%- include("../components/devmsg"); -%>
<div id="signuppage">
    <!-- <div id="vectorsignup">
        <img id="signupvector" alt="signupvector" src="/contactimg.svg">
    </div> -->
    <h4>Register!</h4>
    <div id="signupbox">
        <form action="/newuser" method="post" id="signupform">
            <input autoComplete="off" required="true" onChange={prop.func1} name="name" type="text" placeHolder="Name" autofocus/>
            <input autoComplete="off"  required="true" name="orgname" type="text" placeholder="Organisation name" onChange={prop.func2}/>
            <input autoComplete="off"  required="true" name="email" type="mail" placeholder="Email" onChange={prop.func3}/>
            <input autoComplete="off" required="true" name="password" type="password" placeholder="Password" onChange={prop.func4}/>
        
            <div class="dropdown-container">
                <select id="dropdown" name="role" required="true">
                    <option value="">Select Role</option>
                    <option value="member">Member</option>
                    <option value="volunteer">Volunteer</option>
                </select>
            </div>
        
            <button id="submit" type="submit">Submit</button>
        </form>
    </div>
</div>

<%- include("../components/feedback"); -%>
<%- include("../mobile_partials/footer"); -%>