<%- include("../mobile_partials/header"); -%>
<%- include("../components/devmsg"); -%>
<div id="success">
    <h1>Form Submitted Successfully!</h1>
    <p>Thank you for your submission :)</p>
</div>
<%- include("../components/feedback"); -%>
<%- include("../mobile_partials/footer"); -%>